{
  "extends":"airbnb",
  "rules": {
    "comma-dangle":["error","never"],
    "no-console" : "off",
    "no-plusplus": "off",
    "no-unused-vars":"warn",
    "no-array-index-key":"off",
    "jsx-a11y/href-no-hash":"off",
    "react/prop-types":"off",
    "no-extraneous-dependencies":"off",
    "react/require-default-props":"off"
  },
  "globals": {
    "document": true,
    "foo": true,
    "window": true
  }

}